
lmanager.darkdrag true

version_number				3.8.8
default_email				help@jmars.asu.edu
is_beta false
is_demo false


alpha_dsk_config	http://jmars.mars.asu.edu/alpha_dsk/public_alpha_dsk_config.txt
alpha_dsk	http://jmars.mars.asu.edu/alpha_dsk/
alpha_dsk_citation	http://jmars.mars.asu.edu/alpha_dsk/getCitation.php?

layers.group	all,public

factory.1  edu.asu.jmars.layer.map2         MapLViewFactory
factory.2  edu.asu.jmars.layer.stamp        StampFactory
factory.4  edu.asu.jmars.layer.shape2       ShapeFactory
factory.5  edu.asu.jmars.layer.mosaics      MosaicsLViewFactory
factory.6  edu.asu.jmars.layer.nomenclature NomenclatureFactory
factory.7  edu.asu.jmars.layer.grid         GridFactory
factory.8  edu.asu.jmars.layer.scale        ScaleFactory
factory.9  edu.asu.jmars.layer.groundtrack  GroundTrackFactory
factory.10  edu.asu.jmars.layer.sessions     Factory
factory.11  edu.asu.jmars.layer.crater       CraterFactory
factory.12  edu.asu.jmars.layer.north		NorthFactory
factory.13  edu.asu.jmars.layer.threed       ThreeDFactory
factory.14  edu.asu.jmars.layer.investigate	 InvestigateFactory
factory.15  edu.asu.jmars.layer.landing		 LandingFactory
factory.16  edu.asu.jmars.layer.krc			KRCFactory
factory.17  net.signalpro.layer.traverse     TraverseFactory
factory.18  net.signalpro.layer.traintool    TrainToolFactory
factory.19  net.signalpro.layer.eval         EvalFactory
factory.20  net.signalpro.layer.rings        RingsFactory
factory.21  edu.asu.jmars.layer.streets      StreetLViewFactory

earth.bodyname              				Earth
earth.polar_radius          				6356.7523
earth.equat_radius          				6378.137
earth.mean_radius           				6371.0072
earth.map.map_server.default.url 			http://jmars.mars.asu.edu/maps/filter/earth?jmars_timestamp=_timestamp_
earth.map.default.server 					default
earth.map.default.source 					bmng_200407_500m
earth.map.map_server.default.title 			Mars Spaceflight Facility MapServer
earth.map.map_server.default.custom 		false
earth.map.map_server.default.timeout 		10000
earth.map.map_server.default.maxRequests 	5
earth.edition              					JMARS (for Earth)
earth.email                					help@jmars.asu.edu
earth.login.lbl            					E-Mail:
earth.map.map_server.custom.title 			Mars Spaceflight Facility Custom MapServer
earth.map.map_server.custom.custom 			false
earth.map.map_server.custom.timeout 		30000
earth.map.map_server.custom.maxRequests 	5
earth.map.map_server.custom.url 			https://jmars.mars.asu.edu/maps/custom
earth.default_landmark_type					City	
earth.show_nomenclature_default				false
earth.gridcolor								25958
earth.map.map_server.earth_special.custom false
earth.map.map_server.earth_special.url https://jmars.mars.asu.edu/internal/earth_only
earth.map.map_server.earth_special.title Earth Special Maps
earth.map.map_server.earth_special.timeout 10000
earth.map.map_server.earth_special.maxRequests 5
earth.threed.scaleOffset						-.002
earth.osm_url								http://otile1.mqcdn.com/tiles/1.0.0/


   stable.tooltip.width  100

   reproj                true



   maxzoomlog2           20

   fastpan.msecs         10
   fastpan.msecs.init    10
   fastpan.debug         false


   log.filename          debuglog.txt


   log.maxsize           65536





   log.dropfraction      4


dbDriver.1  org.gjt.mm.mysql.Driver
dbDriver.2  org.postgresql.Driver
dbDriver.3  org.hsqldb.jdbcDriver

skipabout  true

auth       			https://jmars.mars.asu.edu/about.php


main.close_confirm true

map.retriever.threadCount 5
map.cache.tileThreadCount 10
map.cache.fuzzyThreadCount 5



   tiles.version        2
   tiles.graphic        http://ms.mars.asu.edu/?
   tiles.numeric        http://ms.mars.asu.edu/?
   tiles.bot            http://ms.mars.asu.edu/?
   tiles.cust.upload    http://ms.mars.asu.edu\:8080/?
   tiles.cust.remoteget http://ms.mars.asu.edu\:8080/?


   stamps.url                    https://appserver.mars.asu.edu/StampServer-1.2/

   params.url                    https://appserver.mars.asu.edu/StampServer-1.2/
   stamps.max_intersections	     100

krc_url		http://krctool.mars.asu.edu/jmars/submit.php

   shape.chooser.path                 home


   shape.history_size               50


   shape.featurefactory.ascii         edu.asu.jmars.layer.util.features.FeatureProviderASCII
   shape.featurefactory.shp           edu.asu.jmars.layer.util.features.FeatureProviderSHP
   shape.featurefactory.gml           edu.asu.jmars.layer.util.features.FeatureProviderGML
   shape.featurefactory.csv           edu.asu.jmars.layer.util.features.FeatureProviderCSV
   shape.featurefactory.kml           edu.asu.jmars.layer.util.features.FeatureProviderKML
   shape.featurefactory.nomenclature  edu.asu.jmars.layer.util.features.FeatureProviderNomenclature


   shape.filefactory.default          edu.asu.jmars.layer.util.features.FeatureProviderESRI



   shape.styles.Minimal\ Style\ Columns resources/shape_styles_mincolumns.xml
   shape.styles.All\ Style\ Columns resources/shape_styles_allcolumns.xml


   shape.styles_default All Style Columns


threed.default_elevation.server	default
threed.default_elevation.source  generic_body_elevation

earth.threed.default_elevation.server  default
earth.threed.default_elevation.source  gtopo30_topo
mosaics.server.url        http://jmars.mars.asu.edu/maps/mosaics
               
   groundtrack          http://jmars.mars.asu.edu/internal/time_track.phtml?
   groundtrack.primary  14400

   groundtrack.chunksize 200

   edu.asu              var
   pre_cache_directory  PreCache
   windows_base_dir     c:

   hvector.out.ll       false


   projection.round     10

   guestlogin			yes




   tooltip.dismiss       10000


   default.time.format   E


   wikipage             http://jmars.mars.asu.edu/
   reportpage           http://jmars.mars.asu.edu/report.php
   releasenotespage     http://jmars.mars.asu.edu/releasenotes
   forumspage           http://jmars.mars.asu.edu/forums
   supportedfileformatspage        http://jmars.asu.edu/maps/custom/?request=supported

   homepage             http://jmars.mars.asu.edu/
   registrationpage     http://jmars.mars.asu.edu/user/register
   content_server		http://jmars.mars.asu.edu/static/

   product              jearth
   session_ext			.jearth-jmars
   window_label			JMARS (for Earth)


	auth_domain			msff
	login_required		no

bodyname			mars

	jearth.bodies.1									Earth
	

jearth.show_body_menu					true

gridcolor	25958


ipLookUpURL http://appserver.mars.asu.edu/StampServer-1.2/IPLookup
latLonLookUpURL	http://www.geobytes.com/IpLocator.htm?GetLocation&template=php3.txt&IpAddress=


addLayerStyle	new

openDocked	false

tutorialpage	http://jmars.mars.asu.edu/videotutorials
advShapeLayer	http://jmars.mars.asu.edu/play-video?videoId=10
craterArea      http://jmars.mars.asu.edu/video_computingArea
craterCounting	http://jmars.mars.asu.edu/play-video?videoId=8
customMaps	http://jmars.mars.asu.edu/play-video?videoId=5
highResExport	http://jmars.mars.asu.edu/highResolutionExport
numericProfiles	http://jmars.mars.asu.edu/play-video?videoId=4 
polyFunctions	http://jmars.mars.asu.edu/polygonFunctionsVideo
savingSessions  http://jmars.mars.asu.edu/play-video?videoId=3
shapeLayer	http://jmars.mars.asu.edu/play-video?videoId=9


showInvestigateInstructions	true

showGeoRefDialog true


